/* Loader.module.css */
@keyframes loaderAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

.loaderAnimation {
  animation: loaderAnimation 1.5s infinite ease-in-out;
}
